page-home {
}

.card-subtitle {
  font-size: 1.3em;
  width: 100%;
  text-align: center;
  color: #222;
}

.text-center {
  text-align: center;
}

ion-slides {
  height: auto;
}

.customToastClass {
  > div {
    bottom: 55px !important;
    text-align: center !important;
  }
}

.toast-md .toast-message {
  padding: 10px 16px 10px;
}
