<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      In Promotion
    </ion-card-header>
  </ion-card>

  <ion-slides>
    <ion-slide *ngFor="let item of productsInPromotion | async">
      <ion-card>
        <ion-card-header>
          <ion-card-content>
            <img [src]="item.image" (click)="goToProductDetailPage(item)">

            <ion-card-title>{{item.name}}</ion-card-title>
            <div class="card-subtitle">S/ {{item.price}}</div>

            <button ion-button icon-start round (click)="addToCart(item)">
              <ion-icon name="cart"></ion-icon>
              AGREGAR
            </button>
          </ion-card-content>
        </ion-card-header>
      </ion-card>
    </ion-slide>
  </ion-slides>

  <ion-list>
    <ion-card>
      <ion-card-header>
        I'm shoppgin for ...
      </ion-card-header>
    </ion-card>

    <ion-card *ngFor="let item of products | async">
      <img [src]="item.image" (click)="goToProductDetailPage(item)" />
      <ion-card-content class="text-center">
        <p>{{item.description}}</p>
        <ion-card-title>{{item.name}}</ion-card-title>
        <div class="card-subtitle">S/ {{item.price}}</div>
        <button ion-button icon-start round (click)="addToCart(item)">
          <ion-icon name="cart"></ion-icon>
          AGREGAR
        </button>
      </ion-card-content>
    </ion-card>
  </ion-list>

</ion-content>
